{% extends 'layout.html' %}
    
    {% block content %}
    <div class="container p-5">
        <div class="card">
            <div class="class-hearder">
                <h1 class="display-3 text-center">Listado de libros</h1>
            </div>
            <div class="card-body">
                <a class="btn btn-primary btn-warning" href="{% url 'create' %}" role="button">Agregar libros</a>
                <table class="table table-succes table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Año</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>imagen.jpg</th>
                            <th scope="col">Batallas en el desierto</th>
                            <th scope="col">Jose Emilio Pacheco</th>
                            <th scope="col">Larousse</th>
                            <th scope="col">1987</th>
                            <th scope="col">
                                <div class="d-grid gap-2 d-md-block">
                                    <a class="btn btn-primary btn-warning" href="{% url 'edit' %}" role="button" aria-disabled="true">Editar</a>
                                    <a class="btn btn-primary btn-danger" role="button" aria-disabled="true">Borrar</a>
                                  </div> </th>
                        </tr>
                    </tbody>
                   
            </div>
        </div>
        </div>
    {% endblock %}